/* Style sheet for index and research pages */

/*#8E9889 = greeny */


/*GLOBAL*/

a {
  color:#8E9889;
}

body {
  font-size: 16px;
}


/************/
/*INDEX.html*/
/************/

/*hero image*/

.intro-header {
  display: block;
  background: no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
}

body > header > div > div > div > div > h1 {
    color: #FAF9F6;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'BIZ UDPMincho', serif;
}

/*navbar*/
#navbar > ul:nth-child(1) > li:nth-child(2) > a {
  color: #333333;
}

#navbar > ul:nth-child(1) > li:nth-child(3) > a {
  color: #333333;
}


/*
#nathalie-m\.-dumornay-b\.s\.-graduate-student > div:nth-child(3) {
  padding-bottom: 50px;
}

.section h2 {
  padding-top: 3em !important;
}

.intro-header .site-heading, .intro-header .page-heading {
    text-align: center;
}
*/

/*headshot*/

body > div.container-fluid.main-container > div:nth-child(3) {
  padding-top: 5%;
  padding-bottom: 5%;
  flex-basis: fit-content;
  flex-direction: row-reverse;
}
 
body > div.container-fluid.main-container > div:nth-child(3) > div:nth-child(1) > p > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*about me box*/

#about-me {
  padding-left: 3%;
  padding-right: 3%;
}
#about-me > h3 {
  text-align:center;
  padding-top: 40%;
  font-family: 'BIZ UDPMincho', serif;
}
#about-me > p {
  text-align:center;
}

body > div.container-fluid.main-container > div:nth-child(4) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
