/* Style sheet for index and bio pages */
body {
	font-family: Helvetica,Arial,sans-serif;
	background-color: gainsboro;
}

#index {
		text-align: center;
}

h1 {
	font-size: 48px;
}

h3 {
	font-size: 20px;	
}

#bio {
	margin-left: 5%;
	margin-right: 5%;
}
